<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Angular & Bootstrap</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/championship-list" routerLinkActive="active">Championships</a>
        <a class="nav-item nav-link" routerLink="/team-list" routerLinkActive="active">Teams</a>
        <a class="nav-item nav-link" routerLink="/player-list" routerLinkActive="active">Players</a>
        <a class="nav-item nav-link" routerLink="/match-list" routerLinkActive="active">Matches</a>
      </div>
    </div>
  </nav>

<div class="container">
  <router-outlet></router-outlet>
</div>