<div class="card">
  <img class="card-img-top" src="{{data.banner}}" alt="Card image cap">
  <div class="card-body">
    <a href="championship/{{id}}" class="btn btn-primary">Edit</a>
    <h5 class="card-title">{{data.name}}</h5>
    <div>
      <span>{{startDateLabel}}: {{moment(data.startDate).fromNow()}}</span>,
      <span>{{endDateLabel}}: {{moment(data.endDate).fromNow()}}</span>
    </div>
    <div>Stage: <span>{{data.stage}}</span></div>
    <p class="card-text">{{data.description}}</p>
    <h2>Teams</h2>
    <button class="btn btn-primary" (click)="open(content)">+</button>
    <table class="table">
      <tr>
        <th>
          Name
        </th>
        <th></th>
      </tr>
      <tr *ngFor="let cTeam of chamTeams">
        <td>
          {{cTeam.team.name}}
        </td>
        <td>
          <button class="btn btn-primary" (click)="removeTeam(cTeam.id)">X</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      <ng-container i18n>Assign team to</ng-container> {{data.name}}
    </h4>
    <button type="button" class="close" i18n-aria-label aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span i18n class="bold">Available Teams</span>
          <ul class="list-group list-group-flush more-space">
            <li class="list-group-item" *ngFor="let team of availableTeams">
              {{team.name}}
              <button type="button" class="btn btn-outline-primary btn-sm pull-right" (click)="addTeam(team)">
                <span class="fa fa-arrow-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <span i18n class="bold">Assigned Teams</span>
          <ul class="list-group list-group-flush more-space">
            <li class="list-group-item" *ngFor="let cTeam of chamTeams">
              <button type="button" class="btn btn-outline-primary btn-sm pull-left"
                (click)="removeTeam(cTeam.team.id)">
                <span class="fa fa-arrow-left" aria-hidden="true"></span>
              </button> &nbsp; &nbsp;
              {{cTeam.team.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button i18n type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>