<form class="container" (ngSubmit)="onSubmit()" [formGroup]="cForm">
  <div class="form-group">
    <label for="matchDate">matchDate</label>
    <input type="text" class="form-control" id="matchDate" formControlName="matchDate" placeholder="Match Date">
  </div>

  <div class="form-group">
    <label for="localId">Local Team</label>
    <select class="form-control" name="localId" formControlName="localId">
      <option value="{{team.id}}" *ngFor="let team of teams">{{team.name}}</option>
    </select>
  </div>


  <div class="form-group">
    <label for="visitId">Visit Team</label>
    <select class="form-control" id="visitId" formControlName="visitId">
      <option value="{{team.id}}" *ngFor="let team of teams">{{team.name}}</option>
    </select>
  </div>


  <button type="submit" class="btn btn-primary mb-2">Save</button>
</form>