<a class="nav-item nav-link active" routerLink="/championship/new" routerLinkActive="active">Add</a>
<table class="table">
  <tr>
    <th>
      Name
    </th>
    <td>
    </td>
  </tr>
  <tr *ngFor="let c of championships">
    <td>
      {{c.name}}
    </td>
    <td>
      <a class="btn btn-primary" href="/championship-info/{{c.id}}">Show</a>
      <a class="btn btn-primary" href="/championship/{{c.id}}">Edit</a>
      <button class="btn btn-primary" (click)="delete(c.id)">Del</button>
    </td>
  </tr>
</table>